<launch>
  <arg name="file_path" default="/home/eric/Documents/ROS_Projects/autonomous_mobile_manipulation_ws/src/autonomous_mobile_manipulation/gazebo_resources/models/boat/meshes/boat.dae"/>

  <node name="read_targets" pkg="read_targets" type="read_targets_node" output="screen">
    <param name="file_path" value="$(arg file_path)"/>
  </node>
</launch>
